@font-face{
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face{
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face{
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face{
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face{
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face{
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-Light.ttf");
}
@font-face{
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src:url("./assets/fonts/Poppins-Thin.ttf");
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  overscroll-behavior: none;
  }
body{
  overflow-y:overlay;
  font-family: "Poppins Regular";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing :grayscale;
}
code{
  font-family: source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}
::-webkit-scrollbar{
  width: 0.375rem !important;
  height: 0.375rem !important;
}
body ::-webkit-scrollbar-thumb{
  background-color: hsla(0,0%,100%,0.16);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track{
  background: hsla(0, 0%, 100%, 0.1);
}
.btn{
  border-radius: 3.125rem;
  padding: 0.875rem 0;
  width: 10rem;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  margin: 0.625rem;
}
.btn:active{
  transform: translateY(0.125rem);
}
.primary-btn{
  color:var(--white);
  border: 0.125rem solid linen;
  font-size: 0.75rem;
  background-color: #1f2235;
}
.primary-btn:hover{
  color:aliceblue;
  border: 0.125rem solid #ff5823;
  background-color: #1f2235;
}
.highlighted-btn{
  color: var(--white);
  font-size: 0.75rem;
  background-color: #ff5823;
  border: 0.125rem solid #ff5823;
}
.red-border{
  border: 0.06rem solid var(--error-message) !important;
}
.fade-in{
  opacity: 0;
  transform: translateY(5rem);
  transition: all 0.8s ease;
}

@media only screen and (max-width:568px){
  .highlighted-btn{
    z-index:-900;
  }
}